<!-- <ion-header>
  <ion-toolbar color='primary'>
    <ion-title>Inscrição do usuário:</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <div class="backgroundpataregistro">

    <div class="logo-registro" >
      <img  src="https://cdn.discordapp.com/attachments/744059850828415089/833463984358817812/logocoracaovermelho.png">
    </div>

    <ion-list>
      <ion-item>
        <ion-label position='floating'>Nome Completo: </ion-label>
        <ion-input [(ngModel)]="nome" type='text' ></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position='floating'>Senha: </ion-label>
        <ion-input [(ngModel)]="senha"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position='floating' >Confirmar senha: </ion-label>
        <ion-input [(ngModel)]="confirmar" (ionChange)="checkPassword()"></ion-input>
        <ion-text *ngIf="senha && !senhaCerta" color="danger" >As senhas não combinam</ion-text>
        <ion-text *ngIf="senha && senhaCerta" color="success">As senhas combinam</ion-text>
      </ion-item>
      <ion-item>
        <ion-label position='floating'>E-mail: </ion-label>
        <ion-input [(ngModel)]="email" type='email'></ion-input>
      </ion-item>
    </ion-list>
    <!-- <ion-list>
      <ion-item>
        <ion-label position='floating'>Nome Completo: </ion-label>
        <ion-input [(ngModel)]="nome" type='text'></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position='floating'>Senha: </ion-label>
        <ion-input [(ngModel)]="senha"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position='floating' >Confirmar senha: </ion-label>
        <ion-input [(ngModel)]="confirmar"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position='floating'>E-mail: </ion-label>
        <ion-input [(ngModel)]="email" type='email'></ion-input>
      </ion-item>
    </ion-list> -->


    <ion-button [disabled]='!senhaCerta' (click)='register()' color="light" class="botao-registrar" expand="block">Registrar</ion-button>
    <ion-button color="light" class="botao-japossuoumaconta" expand="block" (click)="voltapaginalogin()">Já possuo uma conta</ion-button>

   </div>
  </ion-content>
