.Inscricao-empresa{
    margin: 50px;
    text-align: center;
}

ion-label{
    text-align: center;
    color: black;
    margin: 5px;
    width: 100%;
    display: block;
}

ion-content{
    --ion-background-color: white;


}

.backgroundpataregistro{
    height: 100%;
    width: 100%;
    background: url('https://cdn.discordapp.com/attachments/744059850828415089/833510622339268648/ultimatentativapata2-azul.png');

}

//botões
.botao-registrar{
    text-align: center;
    margin-top: 5em;
    transition: 1s all;
    
    
}

.botao-japossuoumaconta{
    margin-top: 2em;
}


.logo-registro{
    padding-top: 3em;
    text-align: center;
}