ion-content{
    --ion-background-color: #fff;
  }


.background-container{
  height: 100%;
  width: 100%;
  background: url('https://cdn.discordapp.com/attachments/744059850828415089/833510622339268648/ultimatentativapata2-azul.png');
  

}

p{
    color: black;
    
}


.post1{
  padding-bottom: 3em;
}

.searchbar{
  padding-top: 1.5em;
}

.loja{
  padding: 1em;
  color: black;
  .petshop1{
    padding: 0.5em;
    height: 14em;
    width: 50%;
    float: left;
  }
  font-size: 10px;
  
}


.Lovepetslogoimg{
    padding-top: 1.5em;
    width: 70%;
}