<ion-header>
  <ion-toolbar>
    <ion-title>cadastrar-produto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form>
    <label for="nome">Nome do Produto</label>
    <input type="text" placeholder="Digite o nome do produto" name="nomeProduto" [(ngModel)]="produto.nome">

    <label for="nome">Preco do Produto</label>
    <input type="number" placeholder="Digite o nome do produto" name="preco" [(ngModel)]="produto.preco">

    <label for="nome">Validade do produto</label>
    <input type="date" placeholder="Digite a validade do produto" name="validade" [(ngModel)]="produto.validade">


  </form>

  <ion-button (click)="voltalistarprodutos()">Voltar</ion-button>

  <ion-button (click)="salvarProduto()">Salvar</ion-button>
</ion-content>
