ion-content{
    --ion-background-color: #fff;
  }



.background-container{
    height: 100%;
    width: 100%;
    background: url('https://cdn.discordapp.com/attachments/744059850828415089/833510622339268648/ultimatentativapata2-azul.png');
    
  
  }

p{
    color:black;
}

.Lovepetslogoimg{
  padding-top: 1.5em;
  width: 70%;
}

.searchbar{
  padding-top: 1.5em;
}
.post{
  color: black;
  padding-bottom: 10em;
}
