<ion-header>
  <ion-toolbar color="light">
    <ion-title>
      <img class="Lovepetslogoimg" src="https://cdn.discordapp.com/attachments/744059850828415089/848689061656264714/LovePetstexto1920.png">
    </ion-title>
  </ion-toolbar>
  <ion-toolbar color="light" class="searchbar">
    <ion-searchbar></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="background-container">
    <div class="post">
      <ion-item>
        <ion-avatar slot="start">
          <img src="https://cdn.discordapp.com/attachments/744059850828415089/843635273463496704/1000_F_384789154_LEWkpm1uTxTyKyksxhL4zgY9oKN8UQSf.jpg">
        </ion-avatar>
        <ion-label>
          <h2>Mardonfa Serafim</h2>
          <h3>#banho_e_tosa • 14h</h3>
        </ion-label>
      </ion-item>
      <p>O totóbarão tava amando banho no petshop!!</p>
    </div>

    <div class="post">
      <ion-item>
        <ion-avatar slot="start">
          <img src="https://cdn.discordapp.com/attachments/744059850828415089/843634084969185390/1000_F_260666495_xd3WA5xXGYCBfkO7zzZ818XY8ER9vBLj.jpg">
        </ion-avatar>
        <ion-label>
          <h2>Serompo Adaltberto</h2>
          <h3>#dúvida • 18h</h3>
        </ion-label>
      </ion-item>
      <p>Oi, gente eu to desconfiada que meu cachorro ta com depressão... </p>
    </div>




  </div>
</ion-content>
